
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
  }
  
  h1, h2 {
    color: #007bff;
  }
  
.container {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    margin-top: 0px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .terms-section {
    padding: 60px 0;
    background-color: #fff;
  }
  
  .terms-section h1 {
    text-align: center;
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: 700;
  color: #333;
    
  }
  
  .terms-section p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .terms-section h2 {
    font-size: 24px;
    margin-top: 30px;
    color: #007bff;
  }
  
  @media (max-width: 768px) {
  
    .terms-section h1 {
      font-size: 28px;
    }
  
    .terms-section h2 {
      font-size: 20px;
    }
  
    .terms-section p {
      font-size: 16px;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
    
  
    .terms-section h1 {
      font-size: 32px;
    }
  
    .terms-section h2 {
      font-size: 22px;
    }
  
    .terms-section p {
      font-size: 17px;
    }
  }
  